body {
  background-color: #f0f2f5;
}
.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.topBackground {
  /* background-color: #003368; */
  background:linear-gradient(90deg, #000428 0%,#004e92 100% );
  height: 30vh;
}

.bottomHome {
  background-color: #003368;
  height: 100vh;
}

.withdraw {
  padding: 50px;
  background-color: #003368;
  height: 100vh;
}

.logo {
  /* background: rgba(255, 255, 255, 0.2); */
  margin: auto;
  color: white;
  font-size: 2em;
  font-family: Avenir;
  font-weight: 500;
  line-height: 64px;
}

.titleFont {
  font: Bold 3em Avenir !important;
  color: white !important;
}

.card {
  margin: -6vh auto;
  width: 90vw;
  /* min-width: 600px; */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#003368;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 500;
  font-size: 40px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center.summary {
  margin: 0;
  position: fixed;
  top: 18%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}