.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.topBackground {
  background-color: #003368;
  height: 30vh;
}

.bottomHome {
  background-color: #003368;
  height: 100vh;
}

.withdraw {
  padding: 50px;
  background-color: #003368;
  height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 0px 24px 0px 0px;
  float: left;
  color: white;
  font-size: 2em;
  font-family: Avenir;
  font-weight: 500
}

.titleFont {
  font: Bold 3em Avenir !important;
  color: white !important;
}

.card {
  margin: -15vh auto;
  width: 50vw;
  min-width: 600px;
}