body {
  background-color: #f0f2f5;
}

.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.topBackground {
  /* background-color: #003368; */
  background: linear-gradient(90deg, #000428 0%, #004e92 100%);
  height: 30vh;
}

.bottomHome {
  background-color: #003368;
  height: 100vh;
}

.withdraw {
  padding: 50px;
  background-color: #003368;
  height: 100vh;
}

.logo {
  /* background: rgba(255, 255, 255, 0.2); */
  margin: auto;
  color: white;
  font-size: 2em;
  font-family: Avenir;
  font-weight: 500;
  line-height: 64px;
}

.titleFont {
  font: Bold 3em Avenir !important;
  color: white !important;
}

.card {
  margin: -6vh auto;
  width: 90vw;
  /* min-width: 600px; */
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #003368;
  color: #FFF !important;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 500;
  font-size: 40px;
}

.ant-steps-navigation {
  display: none !important;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 20px 10px
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center.summary {
  margin: 0;
  position: fixed;
  top: 18%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.browserButton {
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  margin: auto auto 20px;
  cursor: pointer;
  max-width: 400px;
  padding: 0 30px;
  min-width: 300px;
}

.menuButton {
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  margin: auto auto 20px;
  cursor: pointer;
  max-width: 400px;
  padding: 0 30px;
  color: 'white';
}

.homeTitle {
  color: white;
  padding: 5vh;
  font-size: 3em;
  top: 10vh;
  position: relative;
}

.homeImage {
  margin: auto;
  width: 50%;
  height: auto;
  margin-top: 10px;
}